@using LaptopShop.Models.ViewModels;
@model CartViewModel

@{
    ViewData["Title"] = "Giỏ hàng";
}

@if (Model.CartItems.Count > 0)
{
    <br/>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content(item.Image)" width="150"/>
                            </td>
                            <td><a href="/Customer/Product/Detail/@item.ProductId">@item.ProductName</a></td>
                            <td>
                                <div class="border-1">
                                    <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                                    @item.Quantity
                                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                                </div>
                            </td>

                            <td>@item.Price.ToString("0,0")đ</td>
                            <th>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("0,0")đ</th>
                            <td>
                                <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">
                                    <i class="fas fa-trash-alt"></i>
                                    Xoá sản phẩm
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-5">
                <a class="btn btn-danger" asp-action="Clear">Xoá toàn bộ sản phẩm</a>
            </div>
            <div class="col-5 text-right">
                <h3>Tổng tiền: @Model.GrandTotal.ToString("0,0")đ</h3>
                <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Tiến hành đặt hàng</a>
            </div>
        </div>
    </div>
    <br />
}
else
{
    <br />
    <h2 class="display-4 text-center" style="margin: 30px;">Giỏ hàng trống!</h2>
    <br />
}



