
@using LaptopShop.Models.ViewModels;
@model CheckoutViewModel


<div>
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">ĐẶT HÀNG</h3>
					<ul class="breadcrumb-tree">
						<li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
						<li class="active">Đặt hàng</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-7">
					<!-- Billing Details -->
					<form class="billing-details form-validate" asp-action="Order" method="post">
						<div class="section-title">
							<h3 class="title">THÔNG TIN KHÁCH HÀNG</h3>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="fullname" asp-for="@Model.Payment.FullName" placeholder="Họ và tên">
							<span class="text-danger" asp-validation-for="@Model.Payment.FullName"></span>
						</div>

						<div class="form-group">
							<input class="input" type="email" name="email" asp-for="@Model.Payment.Email" placeholder="Email">
							<span class="text-danger" asp-validation-for="@Model.Payment.Email"></span>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="address" asp-for="@Model.Payment.Address" placeholder="Địa chỉ">
							<span class="text-danger" asp-validation-for="@Model.Payment.Address"></span>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="phone" asp-for="@Model.Payment.Phone" placeholder="Điện thoại">
							<span class="text-danger" asp-validation-for="@Model.Payment.Phone"></span>
						</div>

						<button type="submit" class="primary-btn order-submit">Đặt hàng</button>
					</form>
					<!-- /Billing Details -->
				</div>

				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h3 class="title">Đơn đặt hàng của bạn</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>SẢN PHẨM</strong></div>
							<div><strong>TỔNG CỘNG</strong></div>
						</div>
						<div class="order-products">
							@foreach (var item in Model.Cart.CartItems)
							{
								<div class="order-col">
									<div>@item.Quantity x @item.ProductName</div>
									<div>@item.Price.ToString("0,0")đ</div>
								</div>
							}
						</div>
						<div class="order-col">
							<div>Vận chuyển</div>
							<div><strong>MIỄN PHÍ</strong></div>
						</div>
						<div class="order-col">
							<div><strong>TỔNG CỘNG</strong></div>
							<div><strong class="order-total">@Model.Cart.GrandTotal.ToString("0,0")đ</strong></div>
						</div>
					</div>

				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Đăng ký nhận  <strong>BẢN TIN</strong></p>
						<form>
							<input class="input" type="email" placeholder="Nhập Email của bạn">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Đặt mua</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->
</div>
