@using LaptopShop.Models.ViewModels;
@model CheckoutViewModel

<div class="container">
    <div class="row">
        <h2 style="text-align: center; color: green; margin: 30px 0px;">Đặt hàng thành công!</h2>
    </div>
    <div class="row">
        <dl class="row" style="font-size: 18px">
            <dt class="col-sm-2">
                Họ tên
            </dt>
            <dd class="col-sm-10">
                @Model.Payment.FullName
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Payment.Email
            </dd>
            <dt class="col-sm-2">
                Số điện thoại
            </dt>
            <dd class="col-sm-10">
                @Model.Payment.Phone
            </dd>
            <dt class="col-sm-2">
                Địa chỉ
            </dt>
            <dd class="col-sm-10">
                @Model.Payment.Address
            </dd>
        </dl>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá bán</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart.CartItems)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.Image)" width="150" height="150" />
                        </td>
                        <td><a href="/Customer/Product/Detail/@item.ProductId">@item.ProductName</a></td>
                        <td>
                            <div class="border-1">
                                @item.Quantity
                            </div>
                        </td>
                        <td>@item.Price.ToString("0,0")đ</td>
                        <th>@Model.Cart.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("0,0")đ</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-5 text-right">
            <h3 style="color: red>Tổng tiền: @Model.Cart.GrandTotal.ToString("0,0")đ </h3>
        </div>
    </div>
</div>
